{% extends "auth/base_auth.html" %}
{% block title %}Réinitialiser mot de passe{% endblock %}

{% block content %}
<div class="container mt-4" style="max-width: 450px;">

    <h4 class="fw-bold text-center mb-3">
        <i class="bi bi-key-fill text-info"></i>
        Réinitialiser mot de passe
    </h4>

    <p class="text-center text-muted mb-4">
        Utilisateur : <strong>{{ user_obj.username }}</strong>
    </p>
    <p class="text-center text-muted">
    {{ user_obj.username }} —
    {% if user_obj.is_superuser %}
        <span class="badge bg-danger">Super Admin</span>
    {% elif user_obj.is_staff %}
        <span class="badge bg-primary">Admin</span>
    {% else %}
        <span class="badge bg-secondary">Utilisateur</span>
    {% endif %}
    </p>

    {% for message in messages %}
        <div class="alert alert-danger text-center">
            {{ message }}
        </div>
    {% endfor %}

    <form method="post" class="card shadow-sm p-4 border-0 rounded-4">
        {% csrf_token %}

        <div class="mb-3 position-relative">
            <label class="form-label fw-semibold">
             Nouveau mot de passe
            </label>
            <input type="password"
               name="new_password1"
              id="password1"
             class="form-control"
             required>

            <i class="bi bi-eye-fill toggle-password"
            onclick="togglePassword('password1', this)"
           style="position:absolute; right:15px; top:38px; cursor:pointer;"></i>
         </div>

        <div class="mb-3 position-relative">
         <label class="form-label fw-semibold">
               Confirmer mot de passe
            </label>
             <input type="password"
              name="new_password2"
              id="password2"
             class="form-control"
             required>

            <i class="bi bi-eye-fill toggle-password"
             onclick="togglePassword('password2', this)"
             style="position:absolute; right:15px; top:38px; cursor:pointer;"></i>
        </div>


        <div class="d-flex justify-content-between">
            <a href="{% url 'users_list' %}"
               class="btn btn-secondary rounded-pill px-4">
                Annuler
            </a>

            <button type="submit"
                    class="btn btn-info rounded-pill px-4 fw-bold">
                <i class="bi bi-check-circle-fill"></i>
                Réinitialiser
            </button>
        </div>
    </form>

</div>
<script>
function togglePassword(inputId, icon) {
    const input = document.getElementById(inputId);

    if (input.type === "password") {
        input.type = "text";
        icon.classList.remove("bi-eye-fill");
        icon.classList.add("bi-eye-slash-fill");
    } else {
        input.type = "password";
        icon.classList.remove("bi-eye-slash-fill");
        icon.classList.add("bi-eye-fill");
    }
}
</script>

{% endblock %}
